/*

   FONT WEIGHT

*/

.normal   { font-weight: normal; }
.b        { font-weight: bold; }
.thin     { font-weight: 100; }
.light    { font-weight: 300; }
.book, 
.regular  { font-weight: 400; }
.semibold,
.medium   { font-weight: 500; }
.bold     { font-weight: 700; }
.ultrabold{ font-weight: 900; }

@media (--breakpoint-not-small) {
  .normal-ns   { font-weight: normal; }
  .b-ns        { font-weight: bold; }
  .thin-ns     { font-weight: 100; }
  .light-ns    { font-weight: 300; }
  .book-ns, 
  .regular-ns  { font-weight: 400; }
  .semibold-ns,
  .medium-ns   { font-weight: 500; }
  .bold-ns     { font-weight: 700; }
  .ultrabold-ns{ font-weight: 900; }
}

@media (--breakpoint-medium) {
  .normal-m   { font-weight: normal; }
  .b-m        { font-weight: bold; }
  .thin-m     { font-weight: 100; }
  .light-m    { font-weight: 300; }
  .book-m, 
  .regular-m  { font-weight: 400; }
  .semibold-m,
  .medium-m   { font-weight: 500; }
  .bold-m     { font-weight: 700; }
  .ultrabold-m{ font-weight: 900; }
}

@media (--breakpoint-large) {
  .normal-l   { font-weight: normal; }
  .b-l        { font-weight: bold; }
  .thin-l     { font-weight: 100; }
  .light-l    { font-weight: 300; }
  .book-l, 
  .regular-l  { font-weight: 400; }
  .semibold-l,
  .medium-l   { font-weight: 500; }
  .bold-l     { font-weight: 700; }
  .ultrabold-l{ font-weight: 900; }
}
