/*

   SKINS

*/




/* Text colors */

.black-100 {         color: var(--black-100); }
.black-90 {         color: var(--black-90); }
.black-80 {         color: var(--black-80); }
.black-70 {         color: var(--black-70); }
.black-60 {         color: var(--black-60); }
.black-50 {         color: var(--black-50); }
.black-40 {         color: var(--black-40); }
.black-30 {         color: var(--black-30); }
.black-20 {         color: var(--black-20); }
.black-10 {         color: var(--black-10); }
.black-05 {         color: var(--black-05); }

.bg-black-100 {        background-color: var(--black-100); }
.bg-black-90 {         background-color: var(--black-90); }
.bg-black-80 {         background-color: var(--black-80); }
.bg-black-70 {         background-color: var(--black-70); }
.bg-black-60 {         background-color: var(--black-60); }
.bg-black-50 {         background-color: var(--black-50); }
.bg-black-40 {         background-color: var(--black-40); }
.bg-black-30 {         background-color: var(--black-30); }
.bg-black-20 {         background-color: var(--black-20); }
.bg-black-10 {         background-color: var(--black-10); }
.bg-black-05 {         background-color: var(--black-05); }

.white-100 {         color: var(--white-100); }
.white-90 {         color: var(--white-90); }
.white-80 {         color: var(--white-80); }
.white-70 {         color: var(--white-70); }
.white-60 {         color: var(--white-60); }
.white-50 {         color: var(--white-50); }
.white-40 {         color: var(--white-40); }
.white-30 {         color: var(--white-30); }
.white-20 {         color: var(--white-20); }
.white-10 {         color: var(--white-10); }

.bg-white-100 {       background-color: var(--white-100); }
.bg-white-90 {        background-color: var(--white-90); }
.bg-white-80 {        background-color: var(--white-80); }
.bg-white-70 {        background-color: var(--white-70); }
.bg-white-60 {        background-color: var(--white-60); }
.bg-white-50 {        background-color: var(--white-50); }
.bg-white-40 {        background-color: var(--white-40); }
.bg-white-30 {        background-color: var(--white-30); }
.bg-white-20 {        background-color: var(--white-20); }
.bg-white-10 {        background-color: var(--white-10); }

.black {         color: var(--black); }
.dark-gray {     color: var(--dark-gray); }
.gray {          color: var(--gray); }
.light-gray {    color: var(--light-gray); }
.white {         color: var(--white); }

.blue { color: var(--blue); }
.light-blue { color: var(--light-blue); }
.dark-blue { color: var(--dark-blue); }
.yellow { color: var(--yellow); }
.light-yellow { color: var(--light-yellow); }
.dark-yellow { color: var(--dark-yellow); }
.orange { color: var(--orange); }
.light-orange { color: var(--light-orange); }
.dark-orange { color: var(--dark-orange); }
.red { color: var(--red); }
.light-red { color: var(--light-red); }
.dark-red { color: var(--dark-red); }
.teal { color: var(--teal); }
.light-teal { color: var(--light-teal); }
.dark-teal { color: var(--dark-teal); }
.green { color: var(--green); }
.light-green { color: var(--light-green); }
.dark-green { color: var(--dark-green); }
.pink { color: var(--pink); }
.light-pink { color: var(--light-pink); }
.dark-pink { color: var(--dark-pink); }
.purple { color: var(--purple); }
.light-purple { color: var(--light-purple); }
.dark-purple { color: var(--dark-purple); }
.iceberg { color: var(--iceberg); }
.light-iceberg { color: var(--light-iceberg); }
.dark-iceberg { color: var(--dark-iceberg); }
.grey { color: var(--grey); }
.light-grey { color: var(--light-grey); }
.dark-grey { color: var(--dark-grey); }
.sky { color: var(--sky); }
.light-sky { color: var(--light-sky); }
.dark-sky { color: var(--dark-sky); }
.amber { color: var(--amber); }
.light-amber { color: var(--light-amber); }
.dark-amber { color: var(--dark-amber); }
.persimmon { color: var(--persimmon); }
.light-persimmon { color: var(--light-persimmon); }
.dark-persimmon { color: var(--dark-persimmon); }
.brown { color: var(--brown); }
.light-brown { color: var(--light-brown); }
.dark-brown { color: var(--dark-brown); }
.grass { color: var(--grass); }
.light-grass { color: var(--light-grass); }
.dark-grass { color: var(--dark-grass); }
.lime { color: var(--lime); }
.light-lime { color: var(--light-lime); }
.dark-lime { color: var(--dark-lime); }
.cyan { color: var(--cyan); }
.light-cyan { color: var(--light-cyan); }
.dark-cyan { color: var(--dark-cyan); }
.violet { color: var(--violet); }
.light-violet { color: var(--light-violet); }
.dark-violet { color: var(--dark-violet); }
.indigo { color: var(--indigo); }
.light-indigo { color: var(--light-indigo); }
.dark-indigo { color: var(--dark-indigo); }

.primary {color: var(--primary); }
.light-primary {color: var(--light-primary); }
.dark-primary {color: var(--dark-primary); }
.accent {color: var(--accent); }
.text-primary {color: var(--text-primary); }
.primary-text {color: var(--primary-text); }
.secondary-text {color: var(--secondary-text); }

/* Background colors */

.bg-black {         background-color: var(--black); }
.bg-dark-gray {     background-color: var(--dark-gray); }
.bg-gray {          background-color: var(--gray); }
.bg-light-gray {    background-color: var(--light-gray); }
.bg-white {         background-color: var(--white); }

.bg-blue { background-color: var(--blue); }
.bg-light-blue { background-color: var(--light-blue); }
.bg-dark-blue { background-color: var(--dark-blue); }
.bg-yellow { background-color: var(--yellow); }
.bg-light-yellow { background-color: var(--light-yellow); }
.bg-dark-yellow { background-color: var(--dark-yellow); }
.bg-orange { background-color: var(--orange); }
.bg-light-orange { background-color: var(--light-orange); }
.bg-dark-orange { background-color: var(--dark-orange); }
.bg-red { background-color: var(--red); }
.bg-light-red { background-color: var(--light-red); }
.bg-dark-red { background-color: var(--dark-red); }
.bg-teal { background-color: var(--teal); }
.bg-light-teal { background-color: var(--light-teal); }
.bg-dark-teal { background-color: var(--dark-teal); }
.bg-green { background-color: var(--green); }
.bg-light-green { background-color: var(--light-green); }
.bg-dark-green { background-color: var(--dark-green); }
.bg-pink { background-color: var(--pink); }
.bg-light-pink { background-color: var(--light-pink); }
.bg-dark-pink { background-color: var(--dark-pink); }
.bg-purple { background-color: var(--purple); }
.bg-light-purple { background-color: var(--light-purple); }
.bg-dark-purple { background-color: var(--dark-purple); }

.bg-iceberg { background-color: var(--iceberg); }
.bg-light-iceberg { background-color: var(--light-iceberg); }
.bg-dark-iceberg { background-color: var(--dark-iceberg); }
.bg-grey { background-color: var(--grey); }
.bg-light-grey { background-color: var(--light-grey); }
.bg-dark-grey { background-color: var(--dark-grey); }
.bg-sky { background-color: var(--sky); }
.bg-light-sky { background-color: var(--light-sky); }
.bg-dark-sky { background-color: var(--dark-sky); }
.bg-amber { background-color: var(--amber); }
.bg-light-amber { background-color: var(--light-amber); }
.bg-dark-amber { background-color: var(--dark-amber); }
.bg-persimmon { background-color: var(--persimmon); }
.bg-light-persimmon { background-color: var(--light-persimmon); }
.bg-dark-persimmon { background-color: var(--dark-persimmon); }
.bg-brown { background-color: var(--brown); }
.bg-light-brown { background-color: var(--light-brown); }
.bg-dark-brown { background-color: var(--dark-brown); }
.bg-grass { background-color: var(--grass); }
.bg-light-grass { background-color: var(--light-grass); }
.bg-dark-grass { background-color: var(--dark-grass); }
.bg-lime { background-color: var(--lime); }
.bg-light-lime { background-color: var(--light-lime); }
.bg-dark-lime { background-color: var(--dark-lime); }
.bg-cyan { background-color: var(--cyan); }
.bg-light-cyan { background-color: var(--light-cyan); }
.bg-dark-cyan { background-color: var(--dark-cyan); }
.bg-violet { background-color: var(--violet); }
.bg-light-violet { background-color: var(--light-violet); }
.bg-dark-violet { background-color: var(--dark-violet); }
.bg-indigo { background-color: var(--indigo); }
.bg-light-indigo { background-color: var(--light-indigo); }
.bg-dark-indigo { background-color: var(--dark-indigo); }

.bg-primary { background-color: var(--primary); }
.bg-light-primary { background-color: var(--light-primary); }
.bg-dark-primary { background-color: var(--dark-primary); }
.bg-accent { background-color: var(--accent); }

/* Skins for specific pseudoclasses */
.focus-black:focus { color: var(--black); }
.focus-dark-gray:focus { color: var(--dark-gray); }
.focus-gray:focus { color: var(--gray); }
.focus-light-gray:focus { color: var(--light-gray); }
.focus-white:focus { color: var(--white); }
.focus-blue:focus { color: var(--blue); }
.focus-light-blue:focus { color: var(--light-blue); }
.focus-dark-blue:focus { color: var(--dark-blue); }
.focus-yellow:focus { color: var(--yellow); }
.focus-light-yellow:focus { color: var(--light-yellow); }
.focus-dark-yellow:focus { color: var(--dark-yellow); }
.focus-orange:focus { color: var(--orange); }
.focus-light-orange:focus { color: var(--light-orange); }
.focus-dark-orange:focus { color: var(--dark-orange); }
.focus-red:focus { color: var(--red); }
.focus-light-red:focus { color: var(--light-red); }
.focus-dark-red:focus { color: var(--dark-red); }
.focus-teal:focus { color: var(--teal); }
.focus-light-teal:focus { color: var(--light-teal); }
.focus-dark-teal:focus { color: var(--dark-teal); }
.focus-green:focus { color: var(--green); }
.focus-light-green:focus { color: var(--light-green); }
.focus-dark-green:focus { color: var(--dark-green); }
.focus-pink:focus { color: var(--pink); }
.focus-light-pink:focus { color: var(--light-pink); }
.focus-dark-pink:focus { color: var(--dark-pink); }
.focus-purple:focus { color: var(--purple); }
.focus-light-purple:focus { color: var(--light-purple); }
.focus-dark-purple:focus { color: var(--dark-purple); }

.focus-iceberg:focus { color: var(--iceberg); }
.focus-light-iceberg:focus { color: var(--light-iceberg); }
.focus-dark-iceberg:focus { color: var(--dark-iceberg); }
.focus-grey:focus { color: var(--grey); }
.focus-light-grey:focus { color: var(--light-grey); }
.focus-dark-grey:focus { color: var(--dark-grey); }
.focus-sky:focus { color: var(--sky); }
.focus-light-sky:focus { color: var(--light-sky); }
.focus-dark-sky:focus { color: var(--dark-sky); }
.focus-amber:focus { color: var(--amber); }
.focus-light-amber:focus { color: var(--light-amber); }
.focus-dark-amber:focus { color: var(--dark-amber); }
.focus-persimmon:focus { color: var(--persimmon); }
.focus-light-persimmon:focus { color: var(--light-persimmon); }
.focus-dark-persimmon:focus { color: var(--dark-persimmon); }
.focus-brown:focus { color: var(--brown); }
.focus-light-brown:focus { color: var(--light-brown); }
.focus-dark-brown:focus { color: var(--dark-brown); }
.focus-grass:focus { color: var(--grass); }
.focus-light-grass:focus { color: var(--light-grass); }
.focus-dark-grass:focus { color: var(--dark-grass); }
.focus-lime:focus { color: var(--lime); }
.focus-light-lime:focus { color: var(--light-lime); }
.focus-dark-lime:focus { color: var(--dark-lime); }
.focus-cyan:focus { color: var(--cyan); }
.focus-light-cyan:focus { color: var(--light-cyan); }
.focus-dark-cyan:focus { color: var(--dark-cyan); }
.focus-violet:focus { color: var(--violet); }
.focus-light-violet:focus { color: var(--light-violet); }
.focus-dark-violet:focus { color: var(--dark-violet); }
.focus-indigo:focus { color: var(--indigo); }
.focus-light-indigo:focus { color: var(--light-indigo); }
.focus-dark-indigo:focus { color: var(--dark-indigo); }

.focus-primary:focus { color: var(--primary); }
.focus-light-primary:focus { color: var(--light-primary); }
.focus-dark-primary:focus { color: var(--dark-primary); }
.focus-accent:focus { color: var(--accent); }

.bg-focus-black:focus { background-color: var(--black); }
.bg-focus-dark-gray:focus { background-color: var(--dark-gray); }
.bg-focus-gray:focus { background-color: var(--gray); }
.bg-focus-light-gray:focus { background-color: var(--light-gray); }
.bg-focus-white:focus { background-color: var(--white); }
.bg-focus-blue:focus { background-color: var(--blue); }
.bg-focus-light-blue:focus { background-color: var(--light-blue); }
.bg-focus-dark-blue:focus { background-color: var(--dark-blue); }
.bg-focus-yellow:focus { background-color: var(--yellow); }
.bg-focus-light-yellow:focus { background-color: var(--light-yellow); }
.bg-focus-dark-yellow:focus { background-color: var(--dark-yellow); }
.bg-focus-orange:focus { background-color: var(--orange); }
.bg-focus-light-orange:focus { background-color: var(--light-orange); }
.bg-focus-dark-orange:focus { background-color: var(--dark-orange); }
.bg-focus-red:focus { background-color: var(--red); }
.bg-focus-light-red:focus { background-color: var(--light-red); }
.bg-focus-dark-red:focus { background-color: var(--dark-red); }
.bg-focus-teal:focus { background-color: var(--teal); }
.bg-focus-light-teal:focus { background-color: var(--light-teal); }
.bg-focus-dark-teal:focus { background-color: var(--dark-teal); }
.bg-focus-green:focus { background-color: var(--green); }
.bg-focus-light-green:focus { background-color: var(--light-green); }
.bg-focus-dark-green:focus { background-color: var(--dark-green); }
.bg-focus-pink:focus { background-color: var(--pink); }
.bg-focus-light-pink:focus { background-color: var(--light-pink); }
.bg-focus-dark-pink:focus { background-color: var(--dark-pink); }
.bg-focus-purple:focus { background-color: var(--purple); }
.bg-focus-light-purple:focus { background-color: var(--light-purple); }
.bg-focus-dark-purple:focus { background-color: var(--dark-purple); }

.bg-focus-iceberg:focus { background-color: var(--iceberg); }
.bg-focus-light-iceberg:focus { background-color: var(--light-iceberg); }
.bg-focus-dark-iceberg:focus { background-color: var(--dark-iceberg); }
.bg-focus-grey:focus { background-color: var(--grey); }
.bg-focus-light-grey:focus { background-color: var(--light-grey); }
.bg-focus-dark-grey:focus { background-color: var(--dark-grey); }
.bg-focus-sky:focus { background-color: var(--sky); }
.bg-focus-light-sky:focus { background-color: var(--light-sky); }
.bg-focus-dark-sky:focus { background-color: var(--dark-sky); }
.bg-focus-amber:focus { background-color: var(--amber); }
.bg-focus-light-amber:focus { background-color: var(--light-amber); }
.bg-focus-dark-amber:focus { background-color: var(--dark-amber); }
.bg-focus-persimmon:focus { background-color: var(--persimmon); }
.bg-focus-light-persimmon:focus { background-color: var(--light-persimmon); }
.bg-focus-dark-persimmon:focus { background-color: var(--dark-persimmon); }
.bg-focus-brown:focus { background-color: var(--brown); }
.bg-focus-light-brown:focus { background-color: var(--light-brown); }
.bg-focus-dark-brown:focus { background-color: var(--dark-brown); }
.bg-focus-grass:focus { background-color: var(--grass); }
.bg-focus-light-grass:focus { background-color: var(--light-grass); }
.bg-focus-dark-grass:focus { background-color: var(--dark-grass); }
.bg-focus-lime:focus { background-color: var(--lime); }
.bg-focus-light-lime:focus { background-color: var(--light-lime); }
.bg-focus-dark-lime:focus { background-color: var(--dark-lime); }
.bg-focus-cyan:focus { background-color: var(--cyan); }
.bg-focus-light-cyan:focus { background-color: var(--light-cyan); }
.bg-focus-dark-cyan:focus { background-color: var(--dark-cyan); }
.bg-focus-violet:focus { background-color: var(--violet); }
.bg-focus-light-violet:focus { background-color: var(--light-violet); }
.bg-focus-dark-violet:focus { background-color: var(--dark-violet); }
.bg-focus-indigo:focus { background-color: var(--indigo); }
.bg-focus-light-indigo:focus { background-color: var(--light-indigo); }
.bg-focus-dark-indigo:focus { background-color: var(--dark-indigo); }

.bg-focus-primary { background-color: var(--primary); }
.bg-focus-light-primary { background-color: var(--light-primary); }
.bg-focus-dark-primary { background-color: var(--dark-primary); }
.bg-focus-accent { background-color: var(--accent); }

.hover-black:hover { color: var(--black); }
.hover-dark-gray:hover { color: var(--dark-gray); }
.hover-gray:hover { color: var(--gray); }
.hover-light-gray:hover { color: var(--light-gray); }
.hover-white:hover { color: var(--white); }
.hover-blue:hover { color: var(--blue); }
.hover-light-blue:hover { color: var(--light-blue); }
.hover-dark-blue:hover { color: var(--dark-blue); }
.hover-yellow:hover { color: var(--yellow); }
.hover-light-yellow:hover { color: var(--light-yellow); }
.hover-dark-yellow:hover { color: var(--dark-yellow); }
.hover-orange:hover { color: var(--orange); }
.hover-light-orange:hover { color: var(--light-orange); }
.hover-dark-orange:hover { color: var(--dark-orange); }
.hover-red:hover { color: var(--red); }
.hover-light-red:hover { color: var(--light-red); }
.hover-dark-red:hover { color: var(--dark-red); }
.hover-teal:hover { color: var(--teal); }
.hover-light-teal:hover { color: var(--light-teal); }
.hover-dark-teal:hover { color: var(--dark-teal); }
.hover-green:hover { color: var(--green); }
.hover-light-green:hover { color: var(--light-green); }
.hover-dark-green:hover { color: var(--dark-green); }
.hover-pink:hover { color: var(--pink); }
.hover-light-pink:hover { color: var(--light-pink); }
.hover-dark-pink:hover { color: var(--dark-pink); }
.hover-purple:hover { color: var(--purple); }
.hover-light-purple:hover { color: var(--light-purple); }
.hover-dark-purple:hover { color: var(--dark-purple); }

.hover-iceberg:hover { color: var(--iceberg); }
.hover-light-iceberg:hover { color: var(--light-iceberg); }
.hover-dark-iceberg:hover { color: var(--dark-iceberg); }
.hover-grey:hover { color: var(--grey); }
.hover-light-grey:hover { color: var(--light-grey); }
.hover-dark-grey:hover { color: var(--dark-grey); }
.hover-sky:hover { color: var(--sky); }
.hover-light-sky:hover { color: var(--light-sky); }
.hover-dark-sky:hover { color: var(--dark-sky); }
.hover-amber:hover { color: var(--amber); }
.hover-light-amber:hover { color: var(--light-amber); }
.hover-dark-amber:hover { color: var(--dark-amber); }
.hover-persimmon:hover { color: var(--persimmon); }
.hover-light-persimmon:hover { color: var(--light-persimmon); }
.hover-dark-persimmon:hover { color: var(--dark-persimmon); }
.hover-brown:hover { color: var(--brown); }
.hover-light-brown:hover { color: var(--light-brown); }
.hover-dark-brown:hover { color: var(--dark-brown); }
.hover-grass:hover { color: var(--grass); }
.hover-light-grass:hover { color: var(--light-grass); }
.hover-dark-grass:hover { color: var(--dark-grass); }
.hover-lime:hover { color: var(--lime); }
.hover-light-lime:hover { color: var(--light-lime); }
.hover-dark-lime:hover { color: var(--dark-lime); }
.hover-cyan:hover { color: var(--cyan); }
.hover-light-cyan:hover { color: var(--light-cyan); }
.hover-dark-cyan:hover { color: var(--dark-cyan); }
.hover-violet:hover { color: var(--violet); }
.hover-light-violet:hover { color: var(--light-violet); }
.hover-dark-violet:hover { color: var(--dark-violet); }
.hover-indigo:hover { color: var(--indigo); }
.hover-light-indigo:hover { color: var(--light-indigo); }
.hover-dark-indigo:hover { color: var(--dark-indigo); }

.hover-primary { color: var(--primary); }
.hover-light-primary { color: var(--light-primary); }
.hover-dark-primary { color: var(--dark-primary); }
.hover-accent { color: var(--accent); }

.bg-hover-black:hover { background-color: var(--black); }
.bg-hover-dark-gray:hover { background-color: var(--dark-gray); }
.bg-hover-gray:hover { background-color: var(--gray); }
.bg-hover-light-gray:hover { background-color: var(--light-gray); }
.bg-hover-white:hover { background-color: var(--white); }
.bg-hover-blue:hover { background-color: var(--blue); }
.bg-hover-light-blue:hover { background-color: var(--light-blue); }
.bg-hover-dark-blue:hover { background-color: var(--dark-blue); }
.bg-hover-yellow:hover { background-color: var(--yellow); }
.bg-hover-light-yellow:hover { background-color: var(--light-yellow); }
.bg-hover-dark-yellow:hover { background-color: var(--dark-yellow); }
.bg-hover-orange:hover { background-color: var(--orange); }
.bg-hover-light-orange:hover { background-color: var(--light-orange); }
.bg-hover-dark-orange:hover { background-color: var(--dark-orange); }
.bg-hover-red:hover { background-color: var(--red); }
.bg-hover-light-red:hover { background-color: var(--light-red); }
.bg-hover-dark-red:hover { background-color: var(--dark-red); }
.bg-hover-teal:hover { background-color: var(--teal); }
.bg-hover-light-teal:hover { background-color: var(--light-teal); }
.bg-hover-dark-teal:hover { background-color: var(--dark-teal); }
.bg-hover-green:hover { background-color: var(--green); }
.bg-hover-light-green:hover { background-color: var(--light-green); }
.bg-hover-dark-green:hover { background-color: var(--dark-green); }
.bg-hover-pink:hover { background-color: var(--pink); }
.bg-hover-light-pink:hover { background-color: var(--light-pink); }
.bg-hover-dark-pink:hover { background-color: var(--dark-pink); }
.bg-hover-purple:hover { background-color: var(--purple); }
.bg-hover-light-purple:hover { background-color: var(--light-purple); }
.bg-hover-dark-purple:hover { background-color: var(--dark-purple); }

.bg-hover-iceberg:hover { background-color: var(--iceberg); }
.bg-hover-light-iceberg:hover { background-color: var(--light-iceberg); }
.bg-hover-dark-iceberg:hover { background-color: var(--dark-iceberg); }
.bg-hover-grey:hover { background-color: var(--grey); }
.bg-hover-light-grey:hover { background-color: var(--light-grey); }
.bg-hover-dark-grey:hover { background-color: var(--dark-grey); }
.bg-hover-sky:hover { background-color: var(--sky); }
.bg-hover-light-sky:hover { background-color: var(--light-sky); }
.bg-hover-dark-sky:hover { background-color: var(--dark-sky); }
.bg-hover-amber:hover { background-color: var(--amber); }
.bg-hover-light-amber:hover { background-color: var(--light-amber); }
.bg-hover-dark-amber:hover { background-color: var(--dark-amber); }
.bg-hover-persimmon:hover { background-color: var(--persimmon); }
.bg-hover-light-persimmon:hover { background-color: var(--light-persimmon); }
.bg-hover-dark-persimmon:hover { background-color: var(--dark-persimmon); }
.bg-hover-brown:hover { background-color: var(--brown); }
.bg-hover-light-brown:hover { background-color: var(--light-brown); }
.bg-hover-dark-brown:hover { background-color: var(--dark-brown); }
.bg-hover-grass:hover { background-color: var(--grass); }
.bg-hover-light-grass:hover { background-color: var(--light-grass); }
.bg-hover-dark-grass:hover { background-color: var(--dark-grass); }
.bg-hover-lime:hover { background-color: var(--lime); }
.bg-hover-light-lime:hover { background-color: var(--light-lime); }
.bg-hover-dark-lime:hover { background-color: var(--dark-lime); }
.bg-hover-cyan:hover { background-color: var(--cyan); }
.bg-hover-light-cyan:hover { background-color: var(--light-cyan); }
.bg-hover-dark-cyan:hover { background-color: var(--dark-cyan); }
.bg-hover-violet:hover { background-color: var(--violet); }
.bg-hover-light-violet:hover { background-color: var(--light-violet); }
.bg-hover-dark-violet:hover { background-color: var(--dark-violet); }
.bg-hover-indigo:hover { background-color: var(--indigo); }
.bg-hover-light-indigo:hover { background-color: var(--light-indigo); }
.bg-hover-dark-indigo:hover { background-color: var(--dark-indigo); }

.bg-hover-primary { background-color: var(--primary); }
.bg-hover-light-primary { background-color: var(--light-primary); }
.bg-hover-dark-primary { background-color: var(--dark-primary); }
.bg-hover-accent { background-color: var(--accent); }

