/*

  STYLES

  Add custom styles here.
  (Added Material Design starters here)

*/

body {
	color: var(--primary-text);
	background: var(--text-primary);
}

.link {
	color: var(--primary);
}
.link:hover, .link:focus {
	color: var(--dark-primary);
}

/* Material Design Buttons */

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  color: var(--text-primary);
  background-color: var(--primary);
}

.btn--primary:hover {
  color: #fff;
  background-color: var(--dark-primary);
}

.btn--primary:active {
  color: #fff;
  background-color: var(--light-primary);
}

.btn--accent,
.btn--accent:link,
.btn--accent:visited {
  color: var(--text-primary);
  background-color: var(--accent);
}

.btn--accent:hover {
  color: #fff;
  background-color: var(--accent);
}

.btn--accent:active {
  color: #fff;
  background-color: var(--accent);
}

.btn--flat,
.btn--flat:link,
.btn--flat:visited {
  color: var(--primary);
  background-color: none;
  box-shadow: none;
}

.btn--flat:hover {
  color: var(--dark-primary);
  background-color: none;
}

.btn--flat:active {
  color: var(--accent);
  background-color: none;
}

.btn-float,
.btn-float:link,
.btn-float:visited {
	position: relative;
	border-radius: 50%;
	padding: 0;
	text-align: center;
	width: 55px;
	height: 55px;
	line-height: 55px;
	vertical-align: middle;
	overflow: hidden;
}
.btn-float i {
	line-height: 55px;
}